* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #23c2b7;
  --secondary: #3abdb6;
  --black: #141414;
  --blackLighter: #53585D;
  --grayLight: #F5F5F5;
  --grayMedium: #E5E5E5;
  --grayDark: #C2C2C2;
  --grayDarker: #9E9E9E;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - var(--bodyPaddingTop));
}